<form [formGroup]='resetPasswordForm' class="container" (ngSubmit)='onSubmit()' >
  <div class = "item">
    <div class="item-info">
      <span class="item-info-text">Password</span>
    </div>

    <div class="item-input">
      <input class="item-input-text" formControlName='password' type="password">
    </div>
  </div>

  <div class = "item">
    <div class="item-info">
      <span class="item-info-text">Confirm Password</span>
    </div>

    <div class="item-input">
      <input class="item-input-text" formControlName='passwordConfirmed' type="password">
    </div>
  </div>

  <div class="item">
    <div class="item-info">

    </div>

    <button type="submit" class="btn-submit">Change Password</button>
  </div>

</form>
