<nav class="profile-nav-menu">
  <div class="profile-nav-menu-item">
    <span class="profile-nav-menu-item-text">
      <a routerLink='/Profile/Settings'>Settings</a>
    </span>
  </div>

  <div class="profile-nav-menu-item">
    <span class="profile-nav-menu-item-text">
      <a routerLink='/Profile/Password/Change'>Change Password</a>
    </span>
  </div>

  <div class="profile-nav-menu-item">
    <span class="profile-nav-menu-item-text">
      <a routerLink='/Profile/Song/Add'>Upload Song</a>
    </span>
  </div>

  <div class="profile-nav-menu-item">
    <span class="profile-nav-menu-item-text">
      <button class="btn-submit" (click)='logOut()' > Sign Out</button>
    </span>
  </div>

</nav>
