.container{
  display: flex;
  flex-direction: column;
}

.item-first{
  display: flex;
  justify-items: center;
}

.item-second{
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
}

i{
  font-size: 128px;
}
