<form class="container" [formGroup]='passwordResetForm' (ngSubmit)='onSubmit()'>
  <div class="item">
    <h2 class="item-text">Forgot Password</h2>
  </div>

  <div class="item center">
    <div class="item-centre-caption">
      Email:
    </div>

    <div class="item item-centre-input">
      <input appHighlightBlueInput type="email" class="item-centre-input-text" formControlName='email' >
    </div>
  </div>

  <div class="item ">
    <button type="submit" [disabled]='passwordResetForm.invalid' class="btn-submit">Submit</button>
  </div>

</form>
