<section class="panel-song">
  <form class="panel-song-range" [formGroup]='rangeForm'>
    <mat-slider  formControlName='range' min="1" step="1"
     #rangeElement class="panel-song-range-input"   (change)='changePosition($event)' ></mat-slider>
  </form>
  <div class="panel-song-other">
    <div class="panel-song-control">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" [disabled]='!currentTrack.track'><i class="fas fa-step-backward"></i></button>
        <button type="button" class="btn btn-primary" *ngIf="currentTrack!=undefined &&( !currentTrack.isPlaying || currentTrack.isPlaying == undefined)"
        (click)='togglePlayer(false)' [disabled]='!currentTrack.track'><i class="fas fa-play" ></i></button>
        <button *ngIf="currentTrack!=undefined && currentTrack.isPlaying" (click)='togglePlayer(true)'
        [disabled]='!currentTrack.track' type="button" class="btn btn-primary"><i class="fas fa-pause" ></i></button>
        <button type="button" class="btn btn-primary" [disabled]='!currentTrack.track'><i class="fas fa-step-forward"></i></button>
      </div>

    </div>

    <div class="panel-song-info">
      <div class="panel-song-info-centrize">
        <div class="panel-song-info-cover" >
            <img *ngIf='currentTrack && currentTrack.track' [src]='this.currentTrack.track.album.images[0].url' alt="Song Cover" class="panel-song-info-cover-file">
        </div>
        <ul class="list-group list-group-flush"  *ngIf='currentTrack.track'>
          <li class="list-group-item py-1">{{currentTrack.track.name}}</li>
          <li class="list-group-item py-1">{{this.currentTrack.track.artists[0].name}}</li>
        </ul>
      </div>


    </div>



  </div>

</section>
